config/.config/nvim/autoload/plugged/*
config/.config/nvim/.netrwhist
config/.config/pcmanfm/default/pcmanfm.conf
local/.local/src/dwm/dwm
local/.local/src/dwmblocks/dwmblocks
local/.local/src/st/st
*.o
*.pkg.tar.xz
*.orig
*.rej
